.virus-data{
    width: 75%;
    display: inline;
}
.graph{
    width: 75%;
    height: 75%;
    display: inline;
}
.movie-card{
    width: 32%;
    display: inline-block;
}
button{
    height:55px;
}
.w3-bar-item{
    font-size: 20px;
}