.virus-data{
    width: 75%;
    display: inline;
}
.image{
    width: 40%;
    height: auto;
}
.action-cards{
    width: 45%;
    height: 30%;
    margin: auto;
    display: inline-block;
}
.graph{
    width: 75%;
    height: 75%;
    display: inline;
}
button{
    height:55px;
}
.w3-bar-item{
    font-size: 20px;
}
/* width */
::-webkit-scrollbar {
   display: none;
  }
