<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

</head>

<body>
    <div class="w3-container header w3-bar w3-yellow">
        <a href="{{ url_for('index') }}"><button
                class="w3-bar-item w3-large w3-button w3-hover-orange">Home</button></a>
        <a href="{{ url_for('covidAPI') }}"><button class="w3-bar-item w3-large w3-button w3-hover-orange">Health
                API</button></a>
        <a href="{{ url_for('moviesHome') }}"><button class="w3-bar-item w3-large w3-button w3-hover-orange">Movies
                API</button></a>
        <button class="w3-bar-item w3-large w3-button w3-hover-orange">About Us</button>
        <button class="w3-bar-item w3-large w3-button w3-hover-orange">Contact Us</button>
    </div>
    <div class="w3-content">
        {% block content %}

        {% endblock content %}
    </div>
    <script src="" defer></script>
</body>

</html>