{% extends 'base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1 class="w3-center w3-text-yellow">Health API</h1>
<div class="w3-card w3-padding">
    <div class="virus-data">
        <h3 class="w3-padding w3-yellow w3-center">Covid Data</h3>
        <table class="w3-table">
            <tr class="w3-pale-yellow">
                <td>Confirmed Cases: {{resp[0]}}</td>
            </tr>
            <tr>
                <td>Recovered Cases: {{resp[1]}}</td>
            </tr>
            <tr class="w3-pale-yellow">
                <td>Deaths: {{resp[2]}}</td>
            </tr>
            <tr>
                <td>Last Updated On {{resp[3]}}</td>
            </tr>
        </table>
    </div>
</div>
<object class="graph w3-card" data="/static/graph.svg" type="image/svg+xml"></object>
{% endblock content %}