{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="w3-container">
  <div class="typewriter ">
    <h1 id="spacing">Meet APIviz: The place to visualize API data</h1>
  </div>
  
  <div>
    <h2 id="subhead">APIviz is the place to go for clear and concise API data. We organize API data into usable and readable information.</h2>
</div>

<div class="w3-container w3-center w3-margin-top buttons">
  <button class="main-btn w3-btn w3-round-large w3-yellow w3-margin-right">Explore API's</button>
  <button class="main-btn w3-btn w3-round-large w3-yellow w3-margin-left">Feedback</button>
</div>

<div class="w3-container">
  <img class="music-cat w3-margin-top" src="{{url_for('static', filename='music.jpg')}}"/>
  <h4 id="music-sub">Music API's</h4>
</div>
<div class="w3-container">
  <img class="health-cat w3-margin-top" src="{{url_for('static', filename='health.jpg')}}"/>
<h4 id="health-sub">Health API's</h4>
</div>
{% endblock content %}