{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<div class="w3-container">
  <div class="typewriter ">
    <h1 class=" w3-text-orange"id="spacing">Meet APIviz: The place to visualize API data</h1>
  </div>
  
  <div>
    <h2 class="w3-text-orange" id="subhead">APIviz is the place to go for clear and concise API data. We organize API data into usable and readable information.</h2>
</div>

<div class="w3-container w3-center w3-margin-top buttons">
  <button class="main-btn w3-btn w3-round-large w3-xxlarge w3-yellow w3-margin-right">Explore API's</button>
  <button class="main-btn w3-btn w3-round-large w3-xxlarge w3-yellow w3-margin-left">Feedback</button>
</div>
{% endblock content %}