{% extends 'base.html' %}
{% block content %}
<h1 class="w3-center">Top 10 {{category}}</h1>
{% for result in res %}
<div class="w3-card w3-padding w3-margin action-cards">
    <div class="">
        <h3 class="w3-yellow w3-padding">Title: {{result['title']}}</h3>
        <h5 class="w3-pale-yellow w3-padding">Score: {{result['tomatoScore']}}</h5>
        <h5 class="w3-yellow w3-padding">View on <a href="https://rottentomatoes.com{{result['url']}}"
                target="_blank">Rotten
                Tomatoes</a>
        </h5>
    </div>
    <div class="poster w3-hide-small w3-center">
        <img src="{{result['posters']['primary']}}" alt="Movie Poster" class="w3-padding image">
    </div>
</div>
{% endfor %}
<div class="w3-margin"></div>
{% endblock content %}